body {
    background-color:rgb(91, 91, 91);
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: rgb(91, 91, 91);
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 800px) {
     
    body { 
      background-color:rgb(91, 91, 91);
    }
   
  }


.ruta {
  
  margin-left: 50%;
  float: left;
  width: 500px;
  height: 240px;
  margin-left:125px ;
  margin-right: 100px;
  margin-top: 70px;
 margin-bottom: 50px;
  padding: 10px;
  border: 2px solid     rgb(0, 255, 72);
  text-align: center;
  
 
}




.topnav {
  overflow: hidden;
  background-color:rgb(0, 0, 0);
  padding: 25px;
  position:sticky; top:0 ;
  margin-top: -120px;
  margin-right: 1%;
  
  width: 25%;

  float: right;
  text-align: right;
  opacity: .2;

}

.topnav a{
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 25px;
 
  
  

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
 
  }
  

    
  
    .text {  background-color: rgb(127, 127, 127) ; border-radius: 40%;
  
          width: 350px;
          height: 200px;
          display: block;
          margin-left: 200px;
          margin-right: auto;
          text-align: center;
          
  
    }

    
   /* Extra small devices (phones, 600px and down) */
   @media all and (min-width:900px) {
    
    .bild {
      position: absolute;
  right: 0px;
  margin-right: 40;
  margin-top: 200px;
  width: 30%;
  height: 25%;
    }
  }
  
    h1 {
      font-family:'Fantasy'; font-size: 60px;
      background-color:rgb(52, 52, 52);
      width: 35%;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 3px;
      color: #04AA6D;
      margin-top: 10px;
      margin-left: 20px;
      
  }
  
