body {
    background-color:rgb(91, 91, 91);
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: rgb(91, 91, 91);
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 800px) {
     
    body { 
      background-color:rgb(91, 91, 91);
    }
   
  }




@media screen and (max-width: 992px) {
 /*style goes here*/
 body {
   font-size: 14px;
 }
}



  /* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}
.body { width: 1000px;

}





.ruta {
  margin-left: 50%;
  float: left;
  width: 500px;
  height: 200px;
  margin-left:125px ;
  margin-right: 100px;
  margin-top: 100px;
  padding: 10px;
  border: 2px solid     blue;
  text-align: center;
  
 
}


.allt{

  max-width: px;

}

.topnav {
    overflow: hidden;
    background-color:rgb(0, 0, 0);
    padding: 25px;
    position:sticky; top:0 ;
    margin-top: -120px;
    margin-right: 2%;
    
    width: 25%;
  
    float: right;
    text-align: right;
    opacity: .2;
  
  }
  
  .topnav a{
    
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 25px;
   
    
    
  
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    
  }
  
  .navbar a {
    margin-right: 10px;
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
    
  
    .text {  background-color: rgb(127, 127, 127) ; border-radius: 40%;
  
          width: 350px;
          height: 200px;
          display: block;
          margin-left: 200px;
          margin-right: auto;
          text-align: center;
          
  
    }
  
    h1 {
      font-family:'Fantasy'; font-size: 60px;
      background-color:rgb(52, 52, 52);
      width: 35%;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 3px;
      color: #04AA6D;
      margin-top: 10px;
      margin-left: 20px;
      
  }
  
  