
h1 {
    font-family:'Fantasy'; font-size: 100px;
    background-color:rgb(0, 0, 0, 0.2);
    width: 35%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    color: #04AA6D;
    margin-top: -25px;
    margin-left: -100px;
   
}



img {
  width: 100%;
  height: 100%;
  
  
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

   }

      
  
  
  .topnav {
    overflow: hidden;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    position:sticky; top: 0 ;
    margin-top: -190px;
    margin-right: 0%;
    width: 100%;
    float: right;
    text-align: right;
    opacity: .2;
    
  }
  
  .topnav a{
    
    color: #f2f2f2;
    
    padding: 2px 16px;
    text-decoration: underline;
    font-size: 20px;
    margin-top: -10%;
    
    
    

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .text {  background-color: rgb(127, 127, 127) ; border-radius: 40%;

        width: 300px;
        height: 150px;
        display: block;
        margin-left: 200px;
        margin-right: auto;
        text-align: center;
        margin-top: 9%;
        

  }

  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  





   /* Extra small devices (phones, 600px and down) */
   @media screen and (min-width:800px) {
    
  .bild {
    position: absolute;
  right: 0px;
  margin-right: 40px;
  margin-top: 200px;
width: 38%;
height: 400px;

}

h1{

  font-size: 225%;
}

}






.slut {

  margin-top: 10%;
  font-size: 30px;
  width: 100%;
  position: absolute;
  
}

.bild{
          
  background-color:rgb(52, 52, 52);
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: #04aa23;}
  to {background-color:rgb(52, 52, 52);}

}