body {
    background-color:rgb(91, 91, 91);
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: rgb(91, 91, 91);
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: px) {
     
    body { 
      background-size: 200%;
    }
   
  }




.allt{

  max-width: px;

}

.topnav {
  overflow: hidden;
  background-color:rgb(0, 0, 0);
  padding: 13px;
  position:sticky; top:0 ;
  margin-top: -107px;
  margin-right: 1%;
  
  width: 30%;
  height: 43px;

  float: right;
  text-align: right;
  opacity: .6;

}

.topnav a{
  
  color: #e73d3d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 25px;
 
  
  

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
 
  }
  

    
  
    .text {  background-color: rgb(127, 127, 127) ; border-radius: 40%;
  
          width: 350px;
          height: 200px;
          display: block;
          margin-left: 200px;
          margin-right: auto;
          text-align: center;
          
  
    }

    

  
    h1 {
      font-family:'Fantasy'; font-size: 60px;
      background-color:rgb(52, 52, 52);
      width: 25%;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 3px;
      color: #04AA6D;
      margin-top: 10px;
      margin-left: 10px;
      
  }


body {
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover
    
}

.bild {

margin-left: 20%;
margin-top: 10%;
}